In [1]:
import zipfile
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import pandas as pd
import os

In [ ]:
data = zipfile.ZipFile('asl_alphabets.zip','r')
data.extractall()

In [ ]:
os.remove('asl_alphabets.zip')

In [2]:
data_info = pd.read_csv('asl_alphabets/Training_set.csv')

In [3]:
pd.concat([data_info.head(), data_info.tail()])

              filename label
0          Image_1.jpg     B
1          Image_2.jpg     P
2          Image_3.jpg     J
3          Image_4.jpg     T
4          Image_5.jpg     B
60895  Image_60896.jpg     S
60896  Image_60897.jpg     I
60897  Image_60898.jpg     X
60898  Image_60899.jpg     Q
60899  Image_60900.jpg     K

In [4]:
len(data_info['label'].unique())

29

In [6]:
data_info = pd.get_dummies(data_info, columns=['label'])

In [7]:
data_info.head()

,filename,label_A,label_B,label_C,label_D,label_E,label_F,label_G,label_H,label_I,...,label_T,label_U,label_V,label_W,label_X,label_Y,label_Z,label_del,label_nothing,label_space
0,Image_1.jpg,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Image_2.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Image_3.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Image_4.jpg,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,Image_5.jpg,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
data_info.drop(['filename'], inplace=True, axis=1)

In [9]:
data_info

,label_A,label_B,label_C,label_D,label_E,label_F,label_G,label_H,label_I,label_J,...,label_T,label_U,label_V,label_W,label_X,label_Y,label_Z,label_del,label_nothing,label_space
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60895,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60896,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
60897,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
60898,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60899,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0